# =============================================================================
# Infrastructure Config
# =============================================================================
SERVER_IP=0.0.0.0

# =============================================================================
# PostgreSQL Config
# =============================================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
POSTGRES_DB=realtime_core

# =============================================================================
# Kerberos KDC Config (for Kafka GSSAPI)
# =============================================================================
KRB5_REALM=EXAMPLE.COM
KRB5_KDC=kdc
KDC_PORT=88
KDC_ADMIN_PORT=749

# =============================================================================
# Kafka & Kafka Connect Config
# =============================================================================
KAFKA_UI_PORT=8080
KAFKA_PORT=9092
KAFKA_PLAIN_PORT=9092
KAFKA_GSSAPI_PORT=9094
CONNECT_PORT=8083
CONNECT_PLAIN_PORT=8083
CONNECT_GSSAPI_PORT=8084

# Kafka Security / Auth
KAFKA_PLAIN_USERNAME=admin
KAFKA_PLAIN_PASSWORD=admin-secret
KAFKA_GSSAPI_PRINCIPAL=client@EXAMPLE.COM
KAFKA_GSSAPI_KEYTAB=/var/lib/secret/client.keytab
KAFKA_GSSAPI_KRB5_CONF=/var/lib/secret/krb5.conf

# =============================================================================
# MongoDB & Mongo Express Config
# =============================================================================
MONGO_PORT=27017
MONGO_EXPRESS_PORT=8085

# =============================================================================
# Apache Flink Config
# =============================================================================
FLINK_PORT=8081
FLINK_JM_METRICS_PORT=9249
FLINK_TM1_METRICS_PORT=9250
FLINK_TM2_METRICS_PORT=9251

# =============================================================================
# Monitoring Config (Prometheus & Grafana)
# =============================================================================
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=