# Infrastructure Config
SERVER_IP=0.0.0.0
FLINK_PORT=8081

# PostgreSQL Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_PORT=5433
POSTGRES_DB=realtime_core

# Kafka Config
KAFKA_UI_PORT=8080  
KAFKA_PORT=9092
KAFKA_PLAIN_PORT=9092
KAFKA_GSSAPI_PORT=9094
KRB5_REALM=EXAMPLE.COM
CONNECT_PORT=8083
CONNECT_PLAIN_PORT=8083
CONNECT_GSSAPI_PORT=8084

# Monitoring Config
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=